name: "Code linting"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main]

jobs:
  format:
    name: Check code formatting
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.13" # Fixed version since we don't need a matrix here

      - name: Install dependencies
        run: |
          uv sync --dev --locked
          # This ensures ruff is available from your pyproject.toml

      - name: ruff check
        run: uv run ruff check .

      - name: ruff format
        run: uv run ruff format --check .

      - name: mypy check
        run: uv run mypy src/ml_ops_ex